# dependencies
/node_modules

# compiled output
/dist
/.cache

# misc
/*.log

# System Files
.DS_Store
Thumbs.db

# IDE - VSCode
# .vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json
